<section class="page-section bg-dark text-white" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">What is Port Chuu?</h2>
        <hr class="divider light my-4">
        <p>Port Chuu (PC) is an online community founded at the dawn of 2020.  Thank you for visiting us.</p>
        <p>We are a friendly, social Discord community. We also have a custom semi-vanilla Minecraft server.  Pull up a chair and stay a while!  The goal of this server is to create a welcoming and friendly atmosphere where everyone can be comfortable.</p>
        <p>Before you dive into the server, check up the rules.  The rules are subject to change, so, in any case, use common sense, and avoid acting in bad faith.</p>
      <a href="rules" class="btn btn-light main-button wow tada">Rules</a>
      </div>
    </div>
    <hr class="divider light my-4">
    <div class="text-center">
      <p>Need to report a problem?</p>
      <a href="report" class="btn btn-light side-button">Report</a>
    </div>
  </div>
</section>
