<section class="page-section" id="contact">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="mt-0">Contact Me</h2>
        <hr class="divider my-4">
        <p class="text-muted mb-5">Have any questions?  The best way is via the Discord, but if you need to contact me via other means, feel free to shoot me an email.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mr-auto text-center">
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fab fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>{{ site.twitter_username }}</p>
        </a>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <a href="mailto:{{ site.email }}">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>{{ site.email }}</p>
        </a>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <a href="https://github.com/{{ site.github_username }}">
        <i class="fab fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
          <p>{{ site.github_username }}</p>
        </a>
      </div>
    </div>
  </div>
</section>
