<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Join the Minecraft server!</h2>
    <p class="text-white-50">Server IP address</p>
    <div class="row justify-content-center">
      <div class="input-group col-xl-3 col-lg-4 col-md-5 col-sm-6 col-10 mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text bg-light"><i class="fas fa-server"></i></span>
        </div>
        <input id="clipboard-mc-ip" type="text" class="form-control text-monospace text-center" value="port.chuu.sh" placeholder="port.chuu.sh" aria-label="MC Server IP">
        <div class="input-group-append">
          <button class="btn btn-light input-group-text clipboard-js" type="button" data-clipboard-target="#clipboard-mc-ip" data-toggle="tooltip" data-placement="bottom" title="Click to Copy"><i class="fas fa-clipboard"></i></button>
        </div>
      </div>
    </div>
    <a href="graylist" class="btn btn-light side-button wow tada">Apply for Graylist!</a>
  </div>
</section>