<section class="page-section" id="minecraft">
  <div class="container text-center">
    <h2 class="text-center mt-0">Port Chuu Minecraft</h2>
    <hr class="divider my-4">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="mt-5">
          <i class="fas fa-4x fa-feather-alt wow bounceIn text-primary mb-4"></i>
          <h3 class="h4 mb-2">Vanilla Gameplay</h3>
          <p class="text-muted mb-0">The server aims to be as vanilla as it can get. What you already know about Minecraft is all you need to survive the server!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="mt-5">
          <i class="fas fa-4x fa-door-open wow bounceIn text-primary mb-4"></i>
          <h3 class="h4 mb-2">Graylist&mdash;Visit us!</h3>
          <p class="text-muted mb-0">Check us out before you <a href="/graylist.html">apply</a>, not after you have to <a href="/graylist.html">apply</a>!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="mt-5">
          <i class="fas fa-4x fa-grin-beam wow bounceIn text-primary mb-4"></i>
          <h3 class="h4 mb-2">Amiable Communities</h3>
          <p class="text-muted mb-0">Gather up together to make the impossible possible. Come join our monthly town hall meeting!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="mt-5">
          <i class="fas fa-4x fa-globe wow bounceIn text-primary mb-4"></i>
          <h3 class="h4 mb-2">RPG-like Teleportation<br><small>Coming Soon!</small></h3>
          <p class="text-muted mb-0">There is no home commands, but there'll be a way to teleport between teleportation beacons!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="mt-5">
          <i class="fas fa-4x fa-dove wow bounceIn text-primary mb-4"></i>
          <h3 class="h4 mb-2">Minimal Plugins</h3>
          <p class="text-muted mb-0"><a href="https://www.spigotmc.org/resources/60088/">Harbor</a> and <a href="https://www.spigotmc.org/resources/59721/">PhantomSMP</a> allows for better survival experience in a multiplayer environment.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="mt-5">
          <i class="fas fa-4x fa-map wow bounceIn text-primary mb-4"></i>
          <h3 class="h4 mb-2">Server Map</h3>
          <p class="text-muted mb-0"><a href="https://www.spigotmc.org/resources/274/">Dynamic Map</a> maps out the entire world for us to see. Check it out <a href="map/">here</a>!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="mt-5">
          <i class="fas fa-4x fa-link wow bounceIn text-primary mb-4"></i>
          <h3 class="h4 mb-2">Chat via Discord</h3>
          <p class="text-muted mb-0"><a href="https://www.spigotmc.org/resources/18494/">DiscordSRV</a> allows you to chat from Discord while you're not on the server!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="mt-5">
          <i class="fas fa-4x fa-paper-plane wow bounceIn text-primary mb-4"></i>
          <h3 class="h4 mb-2">Running PaperMC</h3>
          <p class="text-muted mb-0">The server runs on <a href="https://papermc.io/">PaperMC</a>. We'll pour our years of experiences in running the server smoothly!</p>
        </div>
      </div>
    </div>
  </div>
</section>
