// Global styling for this template
.bg-minecraft {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.6) 100%),url('/img/dirt.png');
  background-size: 5em;
  image-rendering: crisp-edges;
}

.text-minecraft {
  color: $minecraft-color;
}

hr.divider-minecraft {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $minecraft-color;
}

.bg-discord {
  background-color: $discord-color;
}

.text-discord {
  color: $discord-color;
}

hr.divider-discord {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $discord-color;
}

// Typography
.text-white-75 {
  color: fade-out($white, .25);
}

//   Markdown Typography
.markdownified {
}

.ol-space ol > li {
  margin-bottom: 1.5rem;
}

.strong-info strong {
  color: $info;
}

.p-indent p,
.indent {
  text-indent: 2.5rem;
}

// Custom horizontal rules
hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: $primary;
}

hr.light {
  border-color: $white;
}

// Button restyling
.btn {
  font-family: $font-family-sans-serif;
}

.main-button {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
}

.side-button {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
}

// Page section padding
.page-section {
  padding: 8rem 0;
}
