<!DOCTYPE html>
<html lang="en">
<head>

  <title>Minecraft Map &bull; Port Chuu</title>

  <meta charset="utf-8">
  <meta name="keywords" content="minecraft, map, dynamic, port chuu">
  <meta name="description" content="Minecraft Dynamic Map of the Port Chuu Minecraft server">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <!-- These 2 lines make us fullscreen on apple mobile products - remove if you don't like that -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <link rel="icon" href="images/dynmap.ico" type="image/ico">

  <link rel="stylesheet" type="text/css" href="css/leaflet.css?_=3.1-beta6-438" />
  <link rel="stylesheet" type="text/css" href="css/standalone.css?_=3.1-beta6-438" media="screen" />
  <link rel="stylesheet" type="text/css" href="css/dynmap_style.css?_=3.1-beta6-438" media="screen" />

  {% include head-links.html %}

</head>
<body class="bg-dark text-white">
  {% include navbar.html navbarColor="navbar-dark bg-dark" %}
{% if page.type == "index" %}
  <noscript class="navbar-pad">
   You need JavaScript enabled to use the Dynamic Map.
   Check <a href="http://www.enable-javascript.com/" target="_blank">
   this link for instructions on enabling JavaScript in your web browser</a>.
  </noscript>
  <div id="mcmap"></div>
{% else %}
  <div class="container navbar-pad">
  {% if page.type == "inactive" %}
  <div>
    <h1>Map disabled due to inactivity.</h1>
    <a href="./" class="btn btn-primary" role="button">Click here to go back</a>
  </div>
  {% else if page.type == "login" %}
  <div class='dynmaplogin'>
  <h2>Minecraft Dynamic Map - Login/Register</h2>
  <div id="status_message" class="statusmessage"></div>
  <table class='loginregister'>
  <tr><th>Existing User:</th></tr>
  <tr><td class='login'>
  <FORM METHOD=POST name=login ACTION="up/login">
  <p>
  Enter user ID and password:
  <BR>
  <BR>
  <table>
  <tr><td>User ID</td><td><input type="text" size="20" name="j_username"></td></tr>
  <tr><td>Password</td><td><input type="password" size="20" name="j_password"></td></tr>
  </table>
  <BR>
  <input type="submit" name="login" value="Login">
  </p>
  </form>
  <p>
  </td></tr>
  <tr><th>Register New User:</th></tr>
  <tr>
  <td class='register'>
  <FORM METHOD=POST name=register ACTION="up/register">
  <p>
  Run '/dynmap webregister' and enter returned registration code, along with userid and password:
  <BR>
  <BR>
  <table>
  <tr><td>User ID</td><td><input type="text" size="20" name="j_username"></td></tr>
  <tr><td>Password</td><td><input type="password" size="20" name="j_password"></td></tr>
  <tr><td>Verify Password</td><td><input type="password" size="20" name="j_verify_password"></td></tr>
  <tr><td>Registration Code</td><td><input type="text" size="20" name="j_passcode"></td></tr>
  </table>
  <BR>
  <BR>
  <input type="submit" name="register" value="Register">
  </p>
  </form>
  </td>
  </tr>
  </table>
  </div>

  </body>
  {% endif %}
{% endif %}

  {% include script.html %}

{% if page.type == "index" %}
  <script type="text/javascript" src="/js/dynmap-override.js"></script>
  <script type="text/javascript" src="js/leaflet.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="js/custommarker.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="js/dynmaputils.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="js/sidebarutils.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="version.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="js/jquery.json.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="js/jquery.mousewheel.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="js/minecraft.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="js/map.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="js/hdmap.js?_=3.1-beta6-438"></script>
  <script type="text/javascript" src="standalone/config.js?_=3.1-beta6-438"></script>
  <script type="text/javascript">
      $(document).ready(function() {
        window.dynmap = new DynMap($.extend({
          container: $('#mcmap')
        }, config));
      });
  </script>
{% else if page.type == "login" %}
  <script type="text/javascript" src="standalone/config.js?_=3.1-beta6-438"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var status = $('#status_message');
      if(window.location.href.indexOf('error=loginfailed') >= 0)
        $('<div/>').text('Login Failed ').appendTo(status);
      if(window.location.href.indexOf('error=verifyfailed') >= 0)
        $('<div/>').text('Password Verify Error ').appendTo(status);
      if(window.location.href.indexOf('error=registerfailed') >= 0)
        $('<div/>').text('Registration failed (bad passcode?) ').appendTo(status);
      $('form')[0].setAttribute('action', config.url.login);
      $('form')[1].setAttribute('action', config.url.register);
      document.forms['login'].elements['j_username'].focus();
    });

    $(function(){
            $('form[name=register]').submit(function(){
                $.post($(this).attr('action'), $(this).serialize(), function(json) {
                    if(json.result == 'success')
                      window.location = 'index.html';
                    else
                      window.location = 'login.html?error=' + json.result;
                }, 'json');
                return false;
            });
        });

    $(function(){
            $('form[name=login]').submit(function(){
                $.post($(this).attr('action'), $(this).serialize(), function(json) {
                    if(json.result == 'success')
                      window.location = 'index.html';
                    else
                      window.location = 'login.html?error=' + json.result;
                }, 'json');
                return false;
            });
        });
  </script>
{% endif %}
</body>
</html>
